{% extends 'myAdmin/base.html' %}
{% block main %}
<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 关键词表-查看
        </div>

    </div>
    <div class="tpl-block">
       <form class="form-horizontal" role="form" method="post" action="{% url 'update_keyword' %}">
       {% csrf_token %}
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">ID</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="keyword_cn" value="{{ context.keyword.id }}" placeholder="请输入中文关键词">
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">中文关键词</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="keyword_cn" value="{{ context.keyword.chinese_keyword }}" placeholder="请输入中文关键词">
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">英文关键词</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="keyword_en" value="{{ context.keyword.english_keyword }}"placeholder="请输入英文关键词">
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="status" value="{{ context.keyword.status }}" placeholder="状态">
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">同义词集合</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="similar_set" value="{{ context.keyword.similar_set }}" placeholder="同义词集合">
            </div>
          </div>

          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">评论</label>
            <div class="col-sm-10">
              <input readonly="readonly" type="text" class="form-control" name="comment" value="{{ context.keyword.comment }}" placeholder="评论">
            </div>
          </div>

           <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">所属二级行业</label>
               <div class="col-sm-2">
                  <select  disabled="disabled" name="subbus" class="form-control">
                      {% for cate in context.allCate %}
                          {% if cate == context.keyword.subbusiness %}
                            <option value ="{{ cate.id }}" selected="selected">{{ cate }}</option>
                          {% else %}
                            <option value ="{{ cate.id }}">{{ cate }}</option>
                          {% endif %}
                        {% endfor %}
                  </select>
                </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
{#              <button type="submit" class="btn btn-default">提交</button>#}
                <a href="{% url 'unsave_keyword' %}"  class="btn btn-default">返回</a>
            </div>
          </div>

        </form>
    <div>
        <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br> <br>
     <br>
     <br> <br>
     <br>
     <br>
     <br> <br> <br>
    </div>




    </div>
{#    <div class="tpl-alert"></div>#}
</div>
{% endblock %}